<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>About GG Worlds</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="aboutus-container">
    <h1 class="main-title">About GG Worlds</h1>
    <p class="subtitle">
      GG Worlds is an AI-powered Blender plugin to generate 3D game-ready environments in 4 stages:
      <strong>Topography</strong>, <strong>Street Layout</strong>, <strong>Building Contours</strong>, and <strong>Landmarks</strong>.
      Whether you’re in architecture, gaming, or other artistic environmental domain — our goal is to bring your vision to life!
    </p>

    <h2 class="main-subtitle">Meet the Architects Behind GG Worlds! </h2>

    <div class="team-grid">
    </div>
    <div class="team-member">
      <img src="{{ url_for('static', filename='img/eleni_papakosta.jpg') }}" alt="Eleni">
      <h3>Eleni PAPAKOSTA</h3>
      <p>Architect, 3D Artist</p>
      <a href="https://www.linkedin.com/in/eleni-papakosta-035263236/" class="linkedin-btn" target="_blank">LinkedIn</a>

      </div>
      <div class="team-member">
        <img src="{{ url_for('static', filename='img/ramy_anka.jpg') }}" alt="Ramy">
        <h3>Ramy ANKA</h3>
        <p>Architect, UX Designer</p>
        <a href="https://www.linkedin.com/in/ramyanka/" class="linkedin-btn" target="_blank">LinkedIn</a>

        <div class="team-member">
          <img src="{{ url_for('static', filename='img/nouhaila_elmalouli.jpg') }}" alt="Nouhaila">
          <h3>Nouhaila ELMALOULI</h3>
          <p>Architect, AI Researcher</p>
          <a href="https://www.linkedin.com/in/nouhaila-elmalouli-46517a208/" class="linkedin-btn" target="_blank">LinkedIn</a>

      </div>
      <div class="team-member">
        <img src="{{ url_for('static', filename='img/salvador_cantuarias.jpg') }}" alt="Salvador">
        <h3>Salvador CANTUARIAS</h3>
        <p>Architect, Data Scientist</p>
        <a href="https://www.linkedin.com/in/salvador-cantuarias-bb5715268/" class="linkedin-btn" target="_blank">LinkedIn</a>

      </div>
      <div class="team-member">
        <img src="{{ url_for('static', filename='img/misra_ozgok.jpg') }}" alt="Misra">
        <h3>Misra OZGOK GEMC</h3>
        <p>Architect, 3D Artist</p>
        <a href="https://www.linkedin.com/in/m%C4%B1sra-serenay-%C3%B6zg%C3%B6k-gen%C3%A7-857530208/" class="linkedin-btn" target="_blank">LinkedIn</a>

      </div>
    </div>
  </div>

  <footer>
    <p>© 2025 GG Worlds. Built by architects, for creators.</p>
  </footer>
</body>
</html>
