<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generate 3D from Image</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="body_misra">
  <div class="signup-container">
    <h1 class="main-title">Upload an Image & Generate a 3D Model</h1>

    <form method="POST" enctype="multipart/form-data" onsubmit="showLoading()" class="signup-form">
        <input type="file" name="image" accept="image/*" class="input-field" required>
        <input type="submit" id="submitBtn" value="Generate 3D" class="nav-btn">        
    </form>

    <div id="loading">🔄 It may take few minutes... Please wait!</div>
    <br>
    <a href="/">⬅ Back to Home</a>

  </div>

  <script>
    function showLoading() {
      document.getElementById('submitBtn').disabled = true;
      document.getElementById('loading').style.display = 'block';
    }
  </script>
</body>
</html>
